%h1 Zapisz się na ulotkowanie
%hr/

%p
  %strong Kiedy: 
  = l(@leaflets.date, :format => '%A, %d %b %Y')
  
%p
  %strong Gdzie:
  = @leaflets.place
  
%p
  %strong Opis: 
  = @leaflets.description

-if @leaflets.modifier != 1
  %p= "Za tą aktywność otrzymasz #{@leaflets.modifier}x więcej punktów!"
  

= render "shared/signed"
  