<h1>Zapisz się na ulotkowanie</h1>
<hr/>
<p><strong>Kiedy:</strong> <%= l(@leaflets.date, :format => '%A, %d %b %Y') %></p>
<p><strong>Gdzie:</strong> <%= @leaflets.place %></p>
<p><strong>Opis:</strong> <%= @leaflets.description %></p>

<% if @leaflets.modifier != 1 %>
  <p>Za tą aktywność otrzymasz <%= @leaflets.modifier %>x więcej punktów!</p>
<% end %>
<hr/>
<p>Zapisani</p>
<% activity1 = Activity.find(1) %>
<% user = User.find(activity1.user_id) %>

<%= activity1.id %><br/>
<img src="<%= user.image %>" />
<%= activity1.user_id %><br/>
<%= activity1.activity_id %><br/>
<%= activity1.confirmed %><br/>

<hr/>
<p>Jeden z trzech przycisków w zależności od statusu użytkownika</p>
<p>ZAPISZ SIĘ NA AKTYWNOŚĆ<br/>
<p>POTWIERDŹ AKTYWNOŚĆ<br/>
<p>WYPISZ SIĘ Z AKTYWNOŚCI</p>
