<h1>Plakaty</h1>


<!-- group all sorted posters by date -->
<%= @posters.group_by(&:date).each do |date, posters| %>
  <p><%= l(date, :format => '%A, %d %b %Y') %></p> <!-- localized date formatting: Weekday, day month year -->
  

  <table>
    <tr>
  	  <% posters.each do |poster| %>
      <td style="border:dotted 1px; padding:5px;">
      <strong><%= poster.place %></strong><br/>
  	  <%= poster.description %><br/>
  	  <%= link_to "Zapisz się", poster_path(poster) %>
      </td>
	  <% end %>
    </tr>

  </table>
  
  <% end %>