<h1>Wykłady</h1>

<!-- group all sorted leaflets by date -->
<%= @lectures.group_by(&:day).each do |day, lectures| %>
  <p><%= day %></p> <!-- weekday -->
  

  <table>
    <tr>
  	  <% lectures.each do |lecture| %>
      <td style="border:dotted 1px; padding:5px;">
      <strong><%= lecture.place %></strong><br/>
  	  <%= lecture.description %><br/>
  	  <%= lecture.time %><br/>
  	  <%= link_to "Zapisz się", lecture_path(lecture) %>
      </td>
	  <% end %>
    </tr>

  </table>
  
  <% end %>