%h1 Zapisz się na wykład
%hr/
%p 
  %strong Kiedy: 
  = @lectures.day
%p
  %strong Gdzie: 
  = @lectures.place
%p
  %strong Opis: 
  = @lectures.description

-if @lectures.modifier != 1
  %p
    Modifier:
    = @lectures.modifier

= render "shared/signed"
= render "shared/signup"