<h1>Zapisz się na inną aktywność</h1>
<hr/>
<p><strong>Kiedy:</strong> <%= l(@others.date, :format => '%A, %d %b %Y') %></p>
<p><strong>Co:</strong> <%= @others.name %></p>
<p><strong>Gdzie:</strong> <%= @others.place %></p>
<p><strong>Opis:</strong> <%= @others.description %></p>

<p>Za tą aktywność otrzymasz <%= @others.points %> punktów!</p>



