<h1>Użytkownicy</h1>

<table>
<% @users.each do |user| %>

	<tr style="display:block">
		<a href="<%= user_path(user) %>">
	<td><img style="border-radius:50%;" src="<%= user.image %>" /></td>
	<td><%= user.name %></td>
	<td><%= user.lastname %></td>
	<td><%= link_to "Zobacz profil", user_path(user) %>
	</a>
</tr>

<% end %>
</table>