%h1 
  Profil użytkownika
  = @user.name
  = @user.lastname

%img{ :style => "border-radius:50%;", :src => "#{@user.image}" }

%p
  Aktywności użytkownika:

  -@user.activities.each do |activity|
    %p
      Id aktywności:
      = activity.activity_id
    
    %p
      Typ aktywności:
      = activity.activity_type
      
    