<!DOCTYPE html>
<html style="width:100%; height:100%; padding:0; margin:0;">
<head>
  <title>PromoTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="width:100%; height:100%; padding:0; margin:0;">
	<div style="width:20%; height:100%; background:#ddd; float:left;">
		<div style="padding:20px;">
		Profil, ranking itp.
		<hr/>
		<% if user_signed_in? %>
		<img style="border-radius:50%;" src="<%= current_user.image %>" />
		<br/>
		<h3>Witaj <%= current_user.name %>!</h3>
		<%= link_to "Wyloguj się", destroy_user_session_path,:method => :delete %>
		<% else %>
		<h1><%= link_to "Zaloguj się", user_omniauth_authorize_path(:google_oauth2) %></h1>
		<% end %>
	</div>
	</div>
	<div style="width:80%; float:right;">
		<div style="width:100%; background:lightblue; padding:10px;">
			<p><%= link_to "Strona główna", "/" %> | 
				 
				<%= link_to "Ulotki", leaflets_path %> | 
				<%= link_to "Plakaty", posters_path %> | 
				<%= link_to "Wykłady", lectures_path %> | 
				<%= link_to "Inne", others_path %>

				
		</div>

<div style="padding:20px;">


<%= yield %>
</div>
</div>
</body>
</html>
